<div class="example-container">
    <app-loading></app-loading>
    <app-toolbar />

    <mat-sidenav-container class="example-sidenav-container" autosize>
        <mat-sidenav #snav [mode]="'over'" [attr.role]="isHandset ? 'dialog' : 'navigation'"
            [fixedInViewport]="isHandset" fixedTopGap="64">
            <app-sidenav />
        </mat-sidenav>

        <mat-sidenav-content>
            <main>
                <router-outlet />
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>